body {
    font-family: "Playfair Display", sans-serif;
}
 /* HEADER */
.header {
}
.header__nav {
    color: #7D7D7D;
    font-size: 14px;
    font-weight: 400;
}
.header__nav__link:hover,
.header__nav__link:focus {
    color: #03A9F4;
}

.header__nav__list {
}
.header__nav__item {
}
.header__nav__link {
}

/* LIFESTYLE */
.lifestyle__section {
}
.lifestyle__list {
}
.lifestyle__list__item {
}
.lifestyle__list__img {
}
.lifestyle__list__subtitle {
    font-family: "Ubuntu", sans-serif;
    color: #B4AD9E;
    font-size: 14px;
    font-weight: 300;
}
.lifestyle__list__title {
    color: #626262;
    font-size: 30px;
    font-weight: 400;
}
.lifestyle__list__text {
    color: #626262;
    font-size: 14px;
    font-weight: 400;
}
.lifestyle__list__item {
}
.lifestyle__list__img {
}
.lifestyle__button {
}